body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: 
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;

}
.text {
	position: absolute;
	font-size: 25px;
	color: white;
	font-weight: 500;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}


a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}


.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.section {
	width: 100%;
	height: 400px;
	position: relative;
}
 #dance-intro-section {
 	height: 600px;
 	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/groupdanceshot.jpg") no-repeat center center; 
 /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
 }
 #dance-intro-text {
 	font-size: 40px;
 }
 #info-section {
 	background-color: #5FCFE0;
 }
  #timeline-section-1 {
   background-color: #D6B376;
  }
  #timeline-section-2 {
  	background-color: #ED6F6E;
  }
  #timeline-section-3{
  	background-color: #6FCEF7;
  }
  #timeline-section-4 {
  	background-color: #white;
  }
  #contacts-section {
  	background-color: #BECCD3;
  }
  #contacts-text {
  	top: 38%;
  	font-size: 15px;
	font-weight: 300;
  	color: #A9A9A9;
  	position: relative;
  	text-align: center;
  }
  #exp-text {
  	color: black;
  }
 