body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: 
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;

}
.text {
	position: absolute;
	font-size: 25px;
	color: white;
	font-weight: 500;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-60%);
    -moz-transform: translateX(-50%) translateY(-60%);
   	transform: translateX(-50%) translateY(-60%);
}


a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}


.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.section {
	width: 100%;
	height: 700px;
	position: relative;
}
 #dance-intro-section {
 	height: 600px;
 	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/groupdanceshot.jpg") no-repeat center center; 
 /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
 }
 #dance-intro-text {
 	font-size: 40px;
 }
 #info-section {
 	background-color: #6BEDBF;
 }
  #timeline-section-1 {
   background-color: #42A2BA;
  }
  #timeline-section-2 {
  	background-color: #738387;
  }
  #timeline-section-3{
  	background-color: #4C84BA;
  }
  #timeline-section-4 {
  	background-color: #BA426C;
  }
  #contacts-section {
  	height: 200px;
  	background-color: #BECCD3;
  }
  #contacts-text {
  	top: 50%;
  	font-size: 20px;
	font-weight: 300;
  	color: #A9A9A9;
  	position: relative;
  	text-align: center;
  }
  #timeline-text {
  	font-size: 35px;
  	font-weight: 560;
  	position: absolute;
  	top: 10%;
  	color: white;
  }
   #video-text {
  	font-size: 15px;
  	position: absolute;
  	top: 23%;
  	text-align: center;
  	color: #CCCCCC;
  }
  .video {
  	position: absolute;
  	top: 40%;
  	-webkit-transform: translateX(50%) translateY(-10%);
    -moz-transform: translateX(50%) translateY(-10%);
   	transform: translateX(50%) translateY(-10%);
  }
 