body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: 
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;

}
.text {
	position: absolute;
	font-size: 36px;
	color: white;
	font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}


a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}


.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.section {
	width: 100%;
	height: 600px;
	position: relative;
}
 #name-section {
 	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/steezy.jpg") no-repeat center center; 
 /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
 }
  #major-section {
   background-color: #5FCFE0;
  }
  #fact-section {
  	background-color: #B595F7;
  }
  #links-section {
  	background-color: #80F76E;
  }
  #links-text {
  	color: white;
  	position: relative;
  	text-align: center;
  }
  #fact-text {
  	color: black;
  }
 